.counter {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 300px;
    align-items: center;
}
.counter button{
    margin: 0 10px;
    width: 25px;
    height: 25px;
    background-color: #8BC34A;;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    outline: none;
}
.number {
    font-size: 40px;
    color: rgb(180, 110, 60);
}